body            {
                margin: 0px;
                }
/* HEADER */
.header         {
                height: 100px;    
                }
@font-face      {
                font-family: Shanhai;
                src: url(Shanhai.ttf);
                }
                .ff1{font-family: Shanhai; font-weight:500; font-size:80px; color:rgb(188, 39, 39)}

/* NAVIGATION BAR */
.navigator      {
                height: 40px;
                }
a.navi          {
                color: blue;
                font-size: 30px;
                text-decoration:none;
                margin-left: 10px;
                margin-right: 10px;
                }
a.navi:hover    {
                background-color: black;
                color: yellow;                
                }

/* CITY SELECTION */
.main           {
                position: fixed;
                height: 69vh;
                width: 100%;
                background-image: url(palace.jpeg);
                opacity: 0.3;
background-size: cover;
                }
.scene          {
                position: fixed;
                height: 69vh;
                width: 100%;                
                opacity: 1;                
                }

/* USEFUL LINK */
.footer{
position: fixed;
bottom: 30px;
height: 120px;
width: 100%;
border-top: 1px solid gray;
}
.link{
margin-left: 20px;
margin-right: 20px;
}
